appdirs
attrs
black
Brotli
certifi
chardet
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
numpy
openai
pandas
pathspec
Pillow
plotly
python-dateutil
pytz
regex
requests
retrying
six
toml
typed-ast
urllib3
Werkzeug
